name: Deploy Backend

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build Spring Boot project
        run: ./gradlew bootJar

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: docker build -t kimdongjae/hotsignal-backend-api:latest .

      - name: Push Docker image
        run: docker push kimdongjae/hotsignal-backend-api:latest

      - name: Deploy to backend server
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SSH_HOST_BACKEND }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            docker rm -f hotsignal-backend-api || true
            docker pull kimdongjae/hotsignal-backend-api:latest
            docker run -d -p 8080:8080 \
              --name hotsignal-backend-api \
              -e SPRING_PROFILES_ACTIVE=dev \
              kimdongjae/hotsignal-backend-api:latest
